{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<!-- <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title class="bank-name-title">EasyBlog</title>

  <link href="{% static 'EasyBlogApp/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="{% static 'EasyBlogApp/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head> -->

<!-- <body style="background-color: #F0F3F4; height: 100%;"> -->
  
  <!-- <div class="navbar-fixed">
    <nav role="navigation" class="blue darken-2">
      <a href="#!" class="brand-logo center">AllinCall Blog</a>
    </nav>
  </div>

  <script type="text/javascript" src="{% static 'EasyBlogApp/js/jquery.js' %}"></script>
  
<br><br><br> -->
<div class="container">

    {% block content %}
    {% endblock %}

</div>

  <!-- <script type="text/javascript" src="{% static 'EasyBlogApp/js/materialize.js' %}"></script> -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'blog/js/init.js' %}"></script>
  
<!-- </body> -->
</html>
